<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bet</title>
    <link rel="stylesheet" href="./css/bet.css">
</head>

<body>

    <form id="betForm" action="/bet" method="POST">
        <h3>Place Your Bet</h3>
        <p>Account Balance : {{totalBalance}}</p>
        <label for="userId">User ID (GBXXXX) :</label>
        <input type="text" id="userId" name="userId" required>
        <p id="profitDisplay">Profit : </p>
        <button type="button" id="betAllButton">Bet All</button>
    </form>

    <script>
        const profitRates = {
            1: 2.10,
            2: 2.20,
            3: 2.05,
            4: 2.05,
            5: 2.10,
            6: 2.05,
            0: 0.00 // Sunday is off
        };

        const totalBalance = {{ totalBalance }};
        const today = new Date().getDay();
        const profitRate = profitRates[today];

        if (profitRate === 0) {
            document.getElementById('profitDisplay').innerText = 'Today is off. No betting allowed.';
            document.getElementById('betAllButton').disabled = true;
        } else {
            const profit = (totalBalance * profitRate / 100).toFixed(2);
            document.getElementById('profitDisplay').innerText = `Profit: ${profit}`;
        }

        document.getElementById('betAllButton').addEventListener('click', async () => {
            if (totalBalance === 0) {
                alert('No account balance. Please deposit first.');
            } else if (profitRate !== 0) {
                try {
                    const userId = document.getElementById('userId').value;
                    const response = await fetch('/bet', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ userId }),
                    });

                    if (response.ok) {
                        const result = await response.json();
                        if (result.message === 'success') {
                            alert('Your bet has been successfully placed.✅');
                            window.location.href = '/bet'; // Redirect to the bet page
                        } else {
                            alert(result.message); // Show the error message from the server
                        }
                    } else {
                        alert('You can only place one bet in each time slot 🛑');
                    }
                } catch (error) {
                    console.error('Error during bet:', error);
                    alert('An error occurred. Please try again.');
                }
            }
        });

    </script>
</body>

</html>


