<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bet</title>
    <link rel="stylesheet" href="./css/bet.css">
</head>
<body>
    <form id="betForm" action="/bet" method="POST">
        <h3>Place Your Bet</h3>
        <p>Account Balance : {{totalBalance}}</p>
        <p>Belate Betting Coins : {{totalCoins}}</p>
        <label for="userId">User ID (GBXXXX) :</label>
        <input type="text" id="userId" name="userId" required>
        <p id="profitDisplay">Profit : </p>
        <button type="button" id="betAllButton">Bet All</button>
    </form>

    <script>
        const profitRates = {
            0: 2.00, // Sunday between 10:00 AM - 1:00 PM
            1: 1.20,
            2: 1.23,
            3: 1.28,
            4: 0.36,
            5: 1.20,
            6: 1.10
        };

        const totalBalance = {{ totalBalance }};
        const today = new Date().getDay();
        const currentTime = new Date().getHours();

        let profitRate;
        if (today === 0 && (currentTime >= 10 && currentTime < 13)) {
            profitRate = 2.00;
        } else {
            profitRate = profitRates[today];
        }

        if (profitRate === 0) {
            document.getElementById('profitDisplay').innerText = 'Today is off. No betting allowed.';
            document.getElementById('betAllButton').disabled = true;
        } else {
            const profit = (totalBalance * profitRate / 100).toFixed(2);
            document.getElementById('profitDisplay').innerText = `Profit: ${profit}`;
        }

        document.getElementById('betAllButton').addEventListener('click', () => {
            if (totalBalance === 0) {
                alert('No account balance. Please deposit first.');
            } else if (profitRate !== 0) {
                alert('Your bet has been successfully placed.✅');
                document.getElementById('betForm').submit();
            }
        });
    </script>
</body>
</html>
