<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bet</title>
    <link rel="stylesheet" href="./css/bet.css">
</head>

<body>
    <div class="background"></div>
    <div class="container">
        <header class="header">
            <img src="/images/football_two.png" alt="GB Football Logo" class="logo">
            <h1 class="site-name">GB FOOTBALL</h1>
        </header>
        <h3>Place Your Bet</h3>
        <form id="betForm" action="/bet" method="POST">
            <div class="form-group">
                <p>Account Balance : <span id="totalBalance">{{totalBalance}}</span></p>
                <label for="userId">User ID (GBXXXX) :</label>
                <input type="text" id="userId" name="userId" required>
            </div>
            <p id="profitDisplay">Profit : </p>
            <button type="button" class="btn" id="betAllButton">Bet All</button>
        </form>
    </div>
    <script>
        const profitRates = {
            1: 2.10,
            2: 2.20,
            3: 2.05,
            4: 2.05,
            5: 2.10,
            6: 2.05,
            0: 0.00 
        };

        const totalBalanceElem = document.getElementById('totalBalance');
        let totalBalance = parseFloat(totalBalanceElem.innerText);
        const today = new Date().getDay();
        const currentHour = new Date().getHours();
        const profitRate = profitRates[today];

        if (profitRate === 0) {
            document.getElementById('profitDisplay').innerText = 'Today is off. No betting allowed.';
            document.getElementById('betAllButton').disabled = true;
        } else {
            const profit = (totalBalance * profitRate / 100).toFixed(2);
            document.getElementById('profitDisplay').innerText = `Profit: ${profit}`;
        }

        document.getElementById('betAllButton').addEventListener('click', async () => {
            if (totalBalance === 0) {
                alert('No account balance 🛑');
                return;
            } else if ((currentHour >= 10 && currentHour < 13) || (currentHour >= 18 && currentHour < 19)) {
                try {
                    const response = await fetch('/bet', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ userId: document.getElementById('userId').value })
                    });

                    const data = await response.json();

                    if (response.ok) {
                        totalBalance = data.balance;
                        totalBalanceElem.innerText = totalBalance;
                        alert('Your bet has been successfully placed.✅');
                    } else {
                        totalBalance = data.balance;
                        totalBalanceElem.innerText = totalBalance;
                        alert(data.message);
                    }
                } catch (error) {
                    console.error('Error placing bet:', error);
                    alert('Error placing bet. Please try again.');
                }
            } else {
                alert('Betting is allowed only between 10 AM to 1 PM and 6 PM to 7 PM');
            }
        });
    </script>
</body>

</html>
