<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error Page</title>
    <link rel="stylesheet" href="css/error.css">
</head>

<body>
    <div class="container">
        <h1 class="error-heading"><span class="green">4</span><span class="black">0</span><span class="green">4</span>
        </h1>
        <h2 class="error-subheading">Oops! Page not found.</h2>
        <h3 style="text-align:center;color:red;">Below Data Must Be Unique</h3>
        <br>
        <ul class="error-details">
            <li>User ID (Try to add another userid)</li>
            <li>Email</li>
            <li>Phone Number</li>
            <li>Bank Account Number</li>
            <li>IFSC Code</li>
        </ul>
        <p class="registration-info">Must be unique and add valid data to successful registration.</p>
        <a href="/register" class="register-button">Go to Register Page</a>
    </div>
</body>

</html>

