<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <button type="submit" class="btnRegister">GB FOOTBALL</button>
        <h3 class="register-heading">Registration Form</h3>
        <form id="registrationForm" action="/register" method="post">
            <div class="row register-form">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name *" value="" name="firstname"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name *" value="" name="lastname"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="User Id (GBXXXX) *" value="" name="userid"
                            id="userid" required />
                    </div>
                    {{#if referrerId}}
                    <input type="hidden" name="referrerId" value="{{referrerId}}">
                    {{/if}}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="City *" value="" name="city" id="city"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="State *" value="" name="state" id="state"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password *" value="" name="password"
                            id="password" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password *" value=""
                            name="confirmpassword" id="confirmpassword" required />
                    </div>
                    <div class="form-group">
                        <div class="maxl">
                            <label class="radio inline">
                                <input type="radio" name="gender" value="male" checked>
                                <span> Male </span>
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="gender" value="female">
                                <span>Female </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your Email *" value="" name="email"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="text" minlength="10" maxlength="10" name="phone" class="form-control"
                            placeholder="Your Phone *" value="" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Your Age *" value="" name="age"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Bank Account No *" value=""
                            name="bank_account_no" id="bank_account_no" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Bank Name *" value="" name="bank_name"
                            id="bank_name" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="IFSC Code *" value="" name="ifsc_code"
                            id="ifsc_code" required />
                    </div>
                    <input type="submit" class="btnRegister" value="Register" />
                </div>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('registrationForm').addEventListener('submit', function (event) {
            const userID = document.getElementById('userid').value;
            const userIDPattern = /^GB\d{4}$/;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmpassword').value;

            if (!userIDPattern.test(userID)) {
                alert("User ID must start with 'GB' followed by four digits (e.g., GB2389)");
                event.preventDefault(); // Prevent the form from submitting
            }
            else if (password !== confirmPassword) {
                alert("Passwords do not match");
                event.preventDefault(); // Prevent the form from submitting
            }
        });
    </script>
</body>

</html>